[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/devops98
[access "refs/for/refs/*"]
	read = group user/devops98
	push = group user/devops98
	label-Code-Review = -2..+2 group user/devops98
	label-Verified = -1..+1 group user/devops98
	rebase = group user/devops98
	removeReviewer = group user/devops98
	submit = group user/devops98
[access "refs/heads/*"]
	read = group user/devops98
	create = group user/devops98
	push = +force group user/devops98
	pushMerge = group user/devops98
[access "refs/tags/*"]
	push = group user/devops98
	push = +force group user/devops98
